.aside__image {
  border-radius: 50%;
}

.aside__avatar {
  padding: 7px;
  border-radius: 40%;
  border: 1px solid #51555d;
  max-width: 110px;
  height: auto;
  width: auto;
  display: block;
}

.aside__author {
  font-size: 2rem;
  margin-top: 10px;
  color: #fff;
}

.aside__description {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #eaeaea;
  font-style: italic;
}
