.aside__image {
    padding: 5px;
    border: 1px solid #51555d;
    max-width: 110px;
    border-radius: 50%;
    width: 100%;
}

.aside__author {
    font-size: 2rem;
    margin-top: 10px;
    color: #fff;
}

.aside__description {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #eaeaea;
    font-style: italic;
}