@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@font-face {
  font-family: "Ubuntu";
  src: url("../../public/fonts/Ubuntu-Regular.ttf");
}

.projects__text {
  color: #3ccf91;
  font-size: 1.25rem;
}

.projects__title {
  font-size: 1.5rem;
  line-height: 1.2;
  font-family: "Ubuntu";
}

.projects__description {
  color: #8f9094;
  font-size: 1.25rem;
}

.projects__text:hover {
  color: #f6a20e;
  cursor: pointer;
  transition: all 0.15s ease-out;
  outline: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    transition: all 1000ms ease-in-out;
  }
}
