@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

@font-face {
  font-family: "Space Grotesk";
  src: url("../../public/fonts/SpaceGrotesk-Regular.ttf");
  font-display: swap;
}

.home {
  font-size: 3rem;
  z-index: 2;
}

.nav {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1370px;
  font-family: "Space Grotesk";
}

.list {
  display: flex;
  justify-content: space-around;
  gap: 16px;
  padding-right: 1rem;
}

.item {
  list-style: none;
  font-size: 2rem;
  line-height: 32px;
  transition: all 0.4s ease 0s;
}

.hamburger {
  position: relative;
  display: block;
  width: 45px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 2;
}

.bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.active .bar {
  opacity: 0;
}

.hamburger {
  display: block;
}

.mobile-nav {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 1;
  background-color: #303030;
  padding-top: 180px;
  transition: 0.4s;
}

.mobile-nav.menu-active {
  left: 0;
}

.mobile-nav .item {
  display: block;
  margin: 0 auto 32px;
  max-width: 200px;
  text-align: center;
  width: fit-content;
  padding: 12px 16px;
  background-color: #121212;
  color: #fff;
}

.item:hover {
  background-color: #24104f;
}

@media (max-width: 620px) {
  .list {
    display: none;
  }
}

@media(min-width: 620px) {
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
