.project {
  display: flex;
  column-gap: 58px;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: 60px;
  background: #659b91;
  padding: 3rem 2rem;
  border-radius: 12px;
}

.project__icon {
  font-size: 48px;
  margin-right: 0.5rem;
}

.project__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.project__buttons {
  display: flex;
  column-gap: 8px;
}

.project__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.project__button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  cursor: pointer;
}
.project__icons {
  display: flex;
  flex-wrap: wrap;
}

.project__button {
  border: none;
  background-color: #e6df85;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 6px 16px;
  min-width: 64px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.project__button:hover {
  background-color: rgb(161, 156, 93);
}

.project__image {
  width: 97%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  object-fit: cover;
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%),
    0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
}

.project__image:hover {
  transform: scale(1.1);
}

.project__details {
  max-width: 30%;
}

@media (max-width: 1030px) {
  .project {
    flex-direction: column;
    row-gap: 16px;
    padding: 1rem;
  }
  .project__details {
    max-width: unset;
    width: 100%;
  }
  .project__image {
    max-width: unset;
    width: 100%;
  }
}
