.comment {
  padding: 0.75rem;
  padding-top: 1.25rem;
  border: 1px solid rgb(188, 174, 174);
  border-radius: 7px;
  background-color: #343536;
  margin-top: 1rem;
  height: fit-content;
  display: flex;
}

.comment__container {
  flex: 1;
}

.comment__image-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment__image {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  border: 2px solid black;
}

.comment__details {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid lightgrey;
}

.comment__block {
  display: flex;
  align-items: center;
}

.comment__author {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  margin-right: auto;
}

.comment__content {
  margin-top: 10px;
}

.comment__date {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.comment__fromnow {
  margin-left: 4px;
  font-style: italic;
  margin-right: 8px;
}

.comment__content {
  font-weight: 400;
  line-height: 1.7;
}

.comment__link {
  display: inline-block;
  background: transparent;
  border: 1px solid #cdcdcd;
  font-weight: 600;
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  color: white;
}

.comment__link:hover {
  border: 1px solid #818181;
}

.comment__link--delete {
  background-color: #dc6068;
  border: 1px solid #dc6068;
}

.comment__link--delete:hover {
  background-color: #f16770;
}

@media (max-width: 570px) {
  .comment {
    flex-direction: column;
    gap: 16px;
  }
  .comment__image-container {
    align-self: center;
  }
}
