.blog__updated-at {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2rem;
}
.blog__date {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2rem;
}
.blog__description {
  font-size: 1.5rem;
  margin-bottom: 1.3em;
  line-height: 1.5;
}

.blog__title {
  margin-bottom: 0.5rem;
  line-height: initial;
  overflow: hidden;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2em 0 0.5em;
  transition: all 0.2s ease-in-out;
}

.blog__pagination {
  margin-top: 2em;
  margin-bottom: 2rem;
  padding-top: 2em;
  border-top: 1px solid #51555d;
}

.blog__button {
  color: #699ea0;
  background-color: transparent;
  padding: 1em 2em;
  width: 50%;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border: 1px solid #3d4046;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.blog__button:active {
  background-color: #eeeeee;
  color: #3d4144;
}

.blog__button--disabled {
  color: rgba(238, 238, 238, 0.5);
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .blog__button {
    width: 100%;
  }
}
