.excerpt__ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.excerpt__date {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 1.2rem;
}

.excerpt__title {
  margin-bottom: 0.5rem;
  line-height: initial;
  overflow: hidden;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2em 0 0.5em;
  transition: all 0.2s ease-in-out;
}

.excerpt__title--link {
  color: #699ea0;
  cursor: pointer;
  text-decoration: underline;
}

.excerpt__title:hover {
  color: #a9dde0;
  outline: 0;
}

.excerpt__description {
  font-size: 1.5rem;
  margin-bottom: 1.3em;
  line-height: 1.5;
}
