.error {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  margin-top: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}
