@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald:wght@700&family=Prompt&display=swap");

.form {
  background-color: #343536;
  border-radius: 6px;
  padding: 1rem;
  border: 1px solid white;
  box-shadow: 3px 8px rgba(255, 255, 255, 0.1);
}

.form__title {
  font-size: 2rem;
  margin-top: 0;
  font-weight: 600;
}

.form__control {
  border-radius: 6px;
  max-width: 400px;
  border: 3px none;
  padding: 1rem;
  outline: transparent solid 2px;
  font-size: 100%;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 6px 0px,
    rgba(0, 0, 0, 0.94) 0px 1px 6px 0px;
}

.form__group {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__label {
  font-size: 30px;
  font-family: "Odibee Sans";
}

.form__control:focus {
  background-color: white;
}

.form__control--file {
  background-color: rgb(42, 48, 60);
}

.form__control--file:active {
  background-color: rgb(42, 48, 60);
  outline: 5px solid rgba(166, 173, 186, 0.2);
}

.form__button {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: transparent;
  background-color: #fff;
  padding: 1.25rem 2.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.025em;
  color: black;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 64px;
}

.form__button:hover {
  border-color: #fff;
  background-color: #eaeaea;
}
