.blog__title {
    margin: 1.414em 0 0.5em;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    color: #eeeeee;
    border-bottom: 1px solid #51555d;;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
}

.blog__blogs {
    width: 100%;
}

.blog {
    display: flex;
    gap: 8px;
}

@media(max-width: 710px) {
    .blog {
        flex-direction: column;
    }
}