.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 1s slideUp ease-in-out;
}

.about__image {
  border-radius: 9999px;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
    transition: all 1000ms ease-in-out;
  }
}

.about__title {
    font-weight: 800;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 16px
}
.about__description {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
}

.about__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 50%;
  gap: 8px;
}

.about__icon {
  font-size: 150px;
  margin: 5px;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}